*{
    margin: 0;
    padding: 0;
    font-family: CHAWP;
}
html{
    scroll-behavior: smooth;
}

/*HOME PART*/
#home{
    height: 55vh;
    background: #324575;
    display: inline-block;
    max-width: 100%;
}
.hero {
    position: relative;
    max-width: 100%;
    height: 100vh;
    background: #324575;
    position: relative;
}
hr{
    height: 1%;
    background: black;
    border: none;
    margin: auto;
    width: 90%;

}

nav{
    display: flex;
    max-width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    max-width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: darkorange;
    font-style: italic;
}

.content{
    margin-left: 8%;
    margin-top: 15%;
}


.content h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

span{
    color: #9e9e9e;
}

span:hover{
    color:darkorange;
    font-style:italic;
}

.content p{
    color: white;
    line-height: 22px;
}

.content a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.content a:hover{
    background: darkorange;
    color: white;
}

 p{
    color: black;
    line-height: 22px;
}

.pics{
    max-width: 80%;
    height: 48vh;
    position: absolute;
    bottom: 0;
    right: 100px;
}

/*WORK PART*/
#work{
    height: 100vh;
    background: white;
    display: inline-block;
    width: 100%;
}

h2{
    margin-top: 5%;
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.proj1, .proj1a, .proj2, .proj3, .proj4{
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#work p{
    text-align: center;
}


/*CONTACT PART*/
#cont{
    height: 100vh;
    background: #324575;
    display: inline-block;
    width: 100%;
}

/*ABOUT PART*/
#about{
    height: 100vh;
    background: #324575;
    display: inline-block;
    width: 100%;
}
