*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
html{
    scroll-behavior: smooth;
    background: #E6E6E6;
}

/*HOME PART*/
#home{
    height: 30vh;
    display: inline-block;
    max-width: 100%;
}
.hero {
    position: relative;
    max-width: 100%;
    height: 100vh;
}


.navbar{
    background: #E6E6E6;
    position: fixed;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    max-width: 100px;
    cursor: pointer;
    padding-left: 50px;
    padding-top: 30px;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: #324575 ;
}

.content{
    margin-left: 10%;
    margin-top: 30%;
}


.content h1{
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}


.content p{
    color: black;
    line-height: 22px;
    font-size: 22px;
}

/*.content a{*/
/*    background: black;*/
/*    padding: 10px 18px;*/
/*    text-decoration: none;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    display: inline-block;*/
/*    margin: 30px 0;*/
/*    border-radius: 5px;*/
/*}*/

/*.content a:hover{*/
/*    background: darkorange;*/
/*    color: white;*/
/*}*/

 p{
    color: black;
    line-height: 22px;
}

.pics{
    max-width: 80%;
    height: 60vh;
    position: absolute;
    bottom: 0;
    right: 100px;
}
/*end of home*/

/*WORK PART*/
#work{
    height: 100vh;
    display: inline-block;
    width: 100%;
}

#work a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #E6E6E6;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

#work a:hover{
    background: darkorange;
    color: white;
}

h2{
    margin-top: 5%;
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.proj1, .proj2,
.proj3, .proj4{
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.proj1:hover, .proj2:hover,
.proj3:hover{
    transform: scale(1.2);
}

#work p{
    text-align: center;
}
/*end of work*/


/*ABOUT PART*/
#about{
    height: 100vh;
    display: inline-block;
    width: 100%;
}

.pics1{
    max-width: 80%;
    height: 30vh;
    position: absolute;
    bottom: 0;
    left: 100px;
}

.content1{
    margin-left: 10%;
    margin-top: 30%;
    height: 80vh;
}


.content1 h1{
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

.content1 p{
    margin-top: 10%;
    margin-right: 20%;
    text-align: right;
    font-size: 20px;
}

/*end of about*/

/*FOOTER*/
footer{
    color: black;
}

h3{
    font-size: 60px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}